@model PagedList.IPagedList<DomainModel.Models.Competence>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")



    <div class="container" style="text-align:center">
        <img src="http://www.icge.co.uk/languagesciencesblog/wp-content/uploads/2014/04/you_shall_not_pass1.jpg" />
        <h1><span style="color:red">403</span></h1></div>
