@model PagedList.IPagedList<DomainModel.Models.Competence>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container" style="text-align:center">

    <img src="https://nokywln.files.wordpress.com/2011/09/807720-20920920cirno20touhou20e291a81.jpg" />
    <h1><span style="color:red">4&#x2468;4</span>: We could not find the page you are looking for.</h1>
</div>
