@model Tuple<DomainModel.Models.LearnLine, DomainModel.Models.Theme, DomainModel.Models.Competence>
<div class="panel-group" id="accordionSearch">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" data-target="#collapsSearch">
            <h4 class="panel-title">
                <td>
                    <a class="accordion-toggle btn btn-lg btn-avans">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </td><td>Zoekfilter instellen.</td>
            </h4>
        </div>
        <div id="collapsSearch" class="panel-collapse collapse open">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <select class="form-control">
                                <option class="dropdown-header">Leerlijn</option>
                                @foreach (DomainModel.Models.LearnLine item in @Model.Item1) {
                                    <option>@item.Title</option>
                                }

                            </select>
                        </td>
                        <td>
                            <select class="form-control">
                                <option class="dropdown-header">Thema</option>
                                <option>Big Data</option>
                                <option>Onderzoek</option>
                                <option>Programeren</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control">
                                <option class="dropdown-header">Compententie</option>
                                <option>Vergaderen</option>
                                <option>Programeren</option>
                                <option>Business</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" placeholder="Search..." width="75"></td>
                        <td><a class="btn btn-avans" id="scriptid"><span class="glyphicon glyphicon-search"></span>
                            </a>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
