<!--Moet een accordion zijn.-->

<div class="panel-group" id="accordionSearch">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" data-target=" #collapsSearch">
            <h4 class="panel-title">
                <a class="accordion-toggle btn-sm btn-default">
                    Zoeken <!--Hier moet nog een teken voor naar beneden inkomen, and voor inklappen een naar boven. -->
                </a>
            </h4>
        </div>
        <div id="collapsSearch" class="panel-collapse collapse open">
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <select class="form-control">
                                <option class="dropdown-header">Leerlijn</option>

                                <option>BI</option>
                                <option>SO</option>
                                <option>CMD</option>

                            </select>

                        </td>
                        <td>
                            <select class="form-control">
                                <option class="dropdown-header">Thema</option>
                                <option>Big Data</option>
                                <option>Onderzoek</option>
                                <option>Programeren</option>

                            </select>
                        </td>
                        <td>
                            <select class="form-control">
                                <option class="dropdown-header">Compententie</option>
                                <option>Vergaderen</option>
                                <option>Programeren</option>
                                <option>Business</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" placeholder="Search..." width="75"></td>
                        <!--Hier moet een icoontje komen-->
                        <td><input type="submit" class="btn btn-success" name="searching" value="Zoeken" height="25" /></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
