@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Blok Details: Blok 1</h2>

    <table class="table-bordered table-striped">
        <tr>
            <th>Titel</th>

        </tr>
        <tr><td>Blok 1</td></tr>
    </table>
    <input type="submit" class="btn btn-warning" name="Edit" value="Aanpassen" />
    <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br />|
    @Html.ActionLink("Terug naar Index", "Index")
</div>