

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Leerlijn Details: Progameren</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
         
        </tr>
        <tr>
            <td>Programeren</td>
            <td>Een Omschrijving</td>
        </tr>
    </table>
 @Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })</td>
    <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /><br />|
    @Html.ActionLink("Terug naar Index", "Index")
</div>