@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Content/css")

<div class="jumbotron">
    <h1>Waterval</h1>
    <p class="lead">Onze website voor het project</p>
    <p><a href="https://bb.avans.nl/webapps/blackboard/execute/announcement?method=search&context=course_entry&course_id=_82768_1&handle=announcements_entry&mode=view" class="btn btn-primary btn-lg">To Course &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Leerlijnen</h2>
        <p>
           ...
        </p>
        <p>@Html.ActionLink("Leerlijn", "Index", "Leerlijn",null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Compententie</h2>
        <p>
            ...
        </p>
        <p>@Html.ActionLink("Compententie", "Index", "Compententie", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Module</h2>
        <p>
            ...
        </p>
        <p>@Html.ActionLink("Module", "Index", "Module", null, new { @class = "btn btn-default" })</p>
    </div>
</div>