@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")

<div class="container">
    <h2>Compententies Details:Procesanalyse uitvoeren</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Titel</th>
            <th>Omschrijving kort</th>

        </tr>
        <tr>
            <td>Procesanalyse uitvoeren</td>
            <td>De student is in staat om een procesanalyse uit te voeren.</td>
        </tr>
    </table>



    <p>Doelen</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>Omschrijving lang</th></tr>
        </thead>
        <tr>
            <td>
                <ul>
                   <li> 0. De student is in staat om</li>
                    <li>
                        1. de verschillende elementen van een proces te herkennen en onderscheiden
                    </li>
                    <li>
                        2. door middel van interviews te achterhalen hoe een bedrijfsproces in werkelijkheid verloopt, en waar de knelpunten zitten
                    </li>
                    <li>
                        3. contradicties in de verschillende interviews te herkennen en op te lossen
                    </li>
                    <li>
                        4. schema’s van processen te maken die passen bij de probleemstelling en duidelijk zijn voor andere belanghebbenden
                    </li>
                    <li>
                        5. te kunnen bepalen of de analyse volledig is ten aanzien van de probleemstelling
                    </li>
                    <li>
                        6. aan te geven op welke punten het proces verbeterd kan worden, of zelfs een compleet nieuw proces te
                    </li>
                    <li>
                        7. aan te geven welke keuzes gemaakt zijn tijdens het onderzoek en de analyse, en welke argumenten daarvoor gebruikt zijn
                    </li>
                    <li> 8. aan te geven waar de informatie voor de analyse vandaan komt en wat de betrouwbaarheid daarvan is</li>
</ul>
            </td>
        </tr>
    </table>



    <p>Behoort toe aan modules:</p>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Vakcode</th>
                <th>Module</th>
                <th>Omschrijving</th>
                <th>Niveau</th>
            </tr>
        </tbody>
        <tr>
            <td><a>Pr-01</a></td>
            <td>Programeren 1</td>
            <td>Het leren programeren</td>
            <td>4</td>
        </tr>
        <tr>
            <td><a>DB-01</a></td>
            <td>Database 1</td>
            <td>Het leren van een database opzetten.</td>
            <td>2</td>
        </tr>
        <tr>
            <td><a>SWEN-01</a></td>
            <td>Software enginering 1</td>
            <td>Methodieken voor software engineren leren</td>
            <td>3</td>
        </tr>
    </table>

    <p>
        @Html.ActionLink("Aanpassen", "Edit", null, new { @class = "btn btn-warning" })
       
        <br><input type="submit" class="btn btn-danger" name="Delete" value="Verwijderen" /></br>|
        @Html.ActionLink("Terug naar Index", "Index")
    </p>
</div>